<h1>welcome to github</h1>
<pre>
  STEPS FOR CREATING AND ADDING THE APPLICATION IN GITHUB:

STEP 1: Install VS CODE on windows.

STEP 2: Install the GIT in windows.

STEP 3: Create the new account / or use existing account in github

STEP 4: Create the new Repository in github.

STEP 5: Open VS code and clone the Repository to the local machine.

STEP 6: Checkout the brance name or create a new branch in the Repository.

STEP 7: Install Npm in the folder using the command [npm install]

STEP 8: Install angular in the folder using the command [npm install @angular/cli] 

STEP 9: Create the new angular project using the command [ng new 'PROJECTNAME']

STEP 10: Delete the contents in the Appcomponent.HTML.

STEP 11: Add some content and make some changes on the Appcomponent.HTML.
a
STEP 12: save the project.

STEP 13: Now start the project using the command [ng serve -o]

STEP 14: Then Stage all the changes in the source control tab.

STEP 15: After Stageing the changes commit the changes with the name.

STEP 16: Push the changes to the Repository.

STEP 17: Open the Github and create the Pull request from Your branch to the Main or Development branches.

STEP 18: Wait for the Approval and then check the changes in the Main or Development branches. 


Note :  If Already the Application is created then just clone and checkout the Branch.Then install npm and start working.

</pre>